.Submit__btn2{
margin-left: 0%; 
width: 30%; 
border: none; 
background-color: #ef8134;
color: var(--white-color);
border-radius: 15px;
}

.form-control {
	height: 30px;
}

.Submit__btn2:hover {
	background-color: #ff9e50;
}