
.header {
	height: var(--header-height);
	background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
}

.header__navbar {
	display: flex;
	justify-content: space-between;
}

.header__navbar-list {
	padding-left: 0;
	list-style: none;
	margin: 4px 0 0 0;
}

.header__navbar-item {
	margin: 0 8px;
	position: relative;
	min-height: 26px;
}

.header__navbar-item-has-qr:hover .header__qr {
	display: block;
}


.header__navbar-item, .header__navbar-link {
	display: inline-block;
	font-size: 1.4rem;
	color: var(--white-color);
	text-decoration: none;
	font-weight: 300;
}

.header__navbar-item, .header__navbar-link, .header__navabar-icon-link {
	display: inline-flex;
	align-items: center;
}

.header__navbar-item:hover, .header__navabar-icon-link:hover,
	.header__navbar-link:hover {
	cursor: pointer;
	color: rgba(255, 255, 255, 0.7);
}

.header__navbar-item__Strong {
	font-weight: 500;
}

.header__navbar-item__Separate::after {
	content: "";
	display: block;
	position: absolute;
	width: 1px;
	height: 16px;
	background-color: #ef8134;
	right: -9px;
	top: 50%;
	transform: translateY(-50%);
}

.header__navabar-icon-link {
	color: var(--white-color);
	text-decoration: none;
}

.header__navbar-icon {
	font-size: 1.8rem;
	margin: 0 4px;
}

.header__navbar-title--no-pointer {
	cursor: text;
	color: var(--white-color);
}

/* Header QR code */
.header__qr {
	background-color: var(--white-color);
	width: 186px;
	position: absolute;
	left: 0;
	top: 118%;
	border-radius: 2px;
	display: none;
	animation: fadeIn ease-in 1s;
	z-index: 1321546;
}

.header__qr::before {
	position: absolute;
	width: 100%;
	height: 20px;
	content: "";
	display: block;
	left: 0;
	top: -9%;
}

.header__qr-img {
	width: 100%;
}

.header__qr-apps {
	display: flex;
	justify-content: space-between;
}

.header__qr-dowload-link:nth-child(1) {
	margin-left: 15px;
}

.header__qr-dowload-link:nth-child(2) {
	margin-right: 15px;
}

.header__qr-dowload-img {
	height: 16px;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* header-with-search */
.header-with-search {
	height: 82px;
	display: flex;
	align-items: center;
}


.header__logo {
	width: 200px;
}

.header__logo-img {
	width: 200px;
}

.header__cart {
	width: 150px;
	text-align: center;
}

.fa-cart-shopping {
	font-size: 2.6rem;
	color: var(--white-color);
}

.header__menu {
	width: 30px;
	text-align: center;
}

.fa-bars {
	font-size: 2.6rem;
	color: var(--white-color);
}

/* header dropdown menu */
.header__dropdown-menu {
	width: 12%;
	margin-left: 0%;
	top: 12%;
	border: 2px solid;
	border-color: #ff9e50;
	background-color: var(--white-color);
	display: flex;
	position: absolute;
	visibility: hidden;
	z-index: 99999999;
}

.header__dropdown-menu::before {
	position: absolute;
	width: 100%;
	height: 37px;
	content: "";
	display: block;
	left: -1;
	top: -10%;
}

.header__dropdown-menu-directory {
	width: 20%;
	height: 100%;
	top: 1000;
}

.main-directory {
	margin: 4px 0 0 0;
}

.main-directory-item {
	text-align: left;
	width: 300%;
	padding: 5px;
	border-radius: 5px;
	text-decoration: none;
	list-style: none;
	font-size: 2.0rem;
	margin-top: 25%;
	margin-left: -15%;
	cursor: pointer;
}

.main-directory-item:hover {
	background-color: rgb(78,173,254);
	color: var(--white-color);
}

.main-directory-item-title {
	width: 300%;
	text-decoration: none;
	list-style: none;
	font-size: 2.0rem;
	margin-top: 5%;
	margin-left: -15%;
}

.header__menu:hover .header__dropdown-menu {
	visibility: visible;
}

.header__dropdown-menu-directory {
	display: flex;
}

/* header__search */
.header__search-input {
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	font-size: 1.4rem;
	color: var(--text-color);
	padding: 0 8px;
	border-radius: 3px;
}

/* advertise__container */
.advertise__container {
	margin: 20px 0;
	width: 100%;
	height: 300px;
	display: flex;
}

.advertise__container-Slider {
	width: 70%;
	height: 100%;
}

.advertise-img-container {
	height: 100%;
}

:root { 
	--primary-color: #ff9e50;
}

/* Reponsive width <= 1200px */
.grid {
	width: 1200px;
	max-width: 100%;
	margin: 0 auto;
}

/* cho nhung class ko muon co do dai 1200px */
.grid__full-width {
	width: 100%;
}

/* Reponsive row */
.grid__row {
	display: flex;
	flex-wrap: wrap;
}

.advertise-img-1 {
	margin-left: 10px;
	height: 150px;
	width: 100%;
}

.advertise-img-2 {
	margin-top: 3%;
	margin-left: 10px;
	height: 150px;
	width: 100%;
}

.advertise-img-container-2 {
	height: 206px;
	display: flex;
	width: 100%;
}

.advertise-img-3 {
	width: 25%;
}

.header__search-btn {
	background-color: #ef8134;
	border: none;
	height: 34px;
	margin-top: 3px;
	width: 60px;
	border-radius: 3px;
	margin-right: 3px;
	outline: none;
}

.header__search-btn:hover {
	background-color: #ff9e50;
}

.header__search {
	margin-left: 20px;
	flex: 1;
	height: 40px;
	border-radius: 2px;
	background-color: var(--white-color);
	display: flex;
}

.fa-magnifying-glass {
	font-size: 1.6rem;
	color: var(--white-color);
}

.container {
	width: 100%;
}

.title {
	width: 100%;
	height: 50px;
	background-color: #1fa2e5;
}

.title__text {
	padding: 10px 15px;
	color: var(--white-color);
}




.Addtocart__btn {
	font-size: 1.4rem;
	color: var(--white-color);
	width: 50%;
	height: 40px;
	outline: none;
	border: none;
	border-radius: 3px;
	margin-right: 3px;
	background-color: #ef8134;
}

.Addtocarthome__btn {
	font-size: 1.4rem;
	color: var(--white-color);
	width: 50%;
	height: 40px;
	outline: none;
	border: none;
	border-radius: 3px;
	margin-right: 3px;
	background-color: #ef8134;
	visibility: hidden;
}

.Addtocart__btn:hover {
	background-color: #ff9e50;
}

.Addtocarthome__btn:hover {
	background-color: #ff9e50;
}


.crd-ho:hover {
	background-color: #fcf7f7;
}

.book__product {
	cursor: pointer;
}

.book__product:hover  .Addtocarthome__btn{
	visibility: visible;
}

.Viewall__btn {
	margin-top: 1%;
	font-size: 1.2rem;
	color: var(--white-color);
	font-weight: bold;
	width: 8%;
	height: 40px;
	outline: none;
	border: none;
	border-radius: 3px;
	margin-right: 3px;
	background-color: rgb(31,162,229);
}

.Viewall__btn:hover {
	background-color: rgb(78,187,235);
}

.order__btn {
	width:100%;
}

.order__btn button {
	width: 40%;
}


.order__btn-1 {
	background-color: var(--primary-color);
	margin-left: 30%;
	height: 40px;
	color: var(--white-color);
	outline: none;
	border: none;
}

.order__btn-1:hover {
	background-color: #ec593c;
}


#toast {
	min-width: 300px;
	position: fixed;
	bottom: 30px;
	left: 50%;
	margin-left: -125px;
	background-color: #80C4B7;
	padding: 10px;
	color: white;
	text-align: center;
	z-index: 1;
	font-size: 18px;
	visibility: hidden;
	box-shadow: 0px 0px 100px #000;
}

#toast.display {
	visibility: visible;
	animation: fadeIn 0.5, fadeOut 0.5s 2.5s;
}

@keyframes fadeIn {from { bottom:0;
	opacity: 0;
}

to {
	bottom: 30px;
	opacity: 1;
}

}
@keyframes fadeOut {form { bottom:30px;
	opacity: 1;
}

to {
	bottom: 0;
	opacity: 0;
}
}

#backtop{
    width: 80px;
    height: 70px;
    color: black;
    position: fixed;
    margin-top: 32%;
    margin-left: 1.5%;
    float: left;
    cursor: pointer;
}

#backtop img{
    width: 80px;
    height: 70px;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}


