:root { 
	--btn-color:#ec593c;
}

.Product-img{
	width: 40%;
}

.Product_detail {
	width: 60%;
}

.Product_detail {
	padding: 0 18px;
}

.Bookname {
	font-size: 3rem;
}

.Author {
	font-size: 2rem;
}

.Category {
	font-size: 2rem;
}

.Price {
	font-size: 2rem;
}

.Ship {
	font-size: 2rem;
}

.Return {
	font-size: 2rem;
}

.book_detail {
	font-size: 1.6rem;
}

.path {
	color: #000;
	text-decoration: none;
	outline: none;
}

