:root { 
	--btn-color:#ec593c;
}

.Product-img{
	width: 40%;
}

.Product_detail {
	width: 60%;
}

.addtocart__Btn {
	font-size: 1.2rem;
	color: var(--white-color);
	margin-top: 20.5%;
	outline: none;
	border: none;
	border-radius: 3px;
	width:35%;
	height:50px;
	background-color: var(--primary-color);
}

.addtocart__Btn:hover {
	background-color: #ec593c;
}


.Addtocart {
	width: 100%;
}



.Product_detail {
	padding: 0 18px;
}

.Bookname {
	font-size: 3rem;
}

.Author {
	font-size: 2rem;
}

.Category {
	font-size: 2rem;
}

.Price {
	font-size: 2rem;
}

.Ship {
	font-size: 2rem;
}

.Return {
	font-size: 2rem;
}

.book_detail {
	font-size: 1.6rem;
}

.path {
	color: #000;
	text-decoration: none;
	outline: none;
}
